<html>
<head>
	<title>Your Dashboard</title>
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
	<header>
	<h1> Welcome to your Dashboard</h1><br>
	
		<div class="links">
			<li><a href="/weather">Weather</a></li>
			<li><a href="/NYT">NYTimes</a></li>
			<li><a href="/twitter">Twitter</a></li>
		</div>
	</header>
	<br>
		<% weather.take(10).each do |a| %>
			<div class="weather">
				<a href="weather/<%= a["id"] %>"><%= a["city"].tr("_", " ") %>, <%= a["state"]%></a><br>
				<img src="<%= a['icon_url']%>"><br>
				<%= a["weather"] %><br>
				<%= a["temp_f"] %> F. Feels like <%= a["feelslike_f"] %> F<br>
			</div>
		<% end %>
		<br>
	
		<h1><a href="/NYT">Your NYTimes Articles</a></h1>
		<div class="news_container">
		<% news.take(10).each do |a| %>
			<div class="NYTimes_feed">
				<img src="<%= a['image'] %>"><br>
				<b><a href="<%= a['web_url']%>"><%= a["headline"] %></a></b><br>
				<%= a["snippet"] %><br>
				<a href="/NYT/<%=a["id"]%>">Save Article</a><br>
			</div>
		<% end %>
	</div>

	<h1><a href="/twitter">View your twitter posts</a></h1>
		<div class="twitter_index">
			<% twitter.take(10).each do |a| %>
				<div class="twitter">
					<b><%= a["screen_name"] %></b>: <br><p><%= a["full_text"] %><p>
				</div>
			<% end %>
		</div>
	</body>
</html>

