<html>
	<head>
		<title>New York Times</title>
		<link rel="stylesheet" type="text/css" href="stylesheet.css">
	</head>
	
	<body>
	<header>
		<h1>Your NYTimes Articles</h1>
			<div class="link">
			<a href="/NYT/add_search">Add NYTimes Search</a>
			<a href="/edit/NYT">Edit NYTimes preferences</a>
			<a href="/refresh/NYT">Refresh NYTimes Posts</a>
		</div><br>
	</header>

	<% news.each do |a| %>
		<div class="NYTimes_feed">
			<img src="<%= a['image'] %>"><br>
			<b><a href="<%= a['web_url']%>"><%= a["headline"] %></a></b><br>
			<%= a["snippet"] %><br>
			<a href="/NYT/<%=a["id"]%>">Save Article</a>
			<br>
		</div>
	<% end %>



	</body>
</html>